<section class="hero is-link is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
           <%= link_to root_path, class: 'has-text-white is-3 title' do %>
              <div>
              <span>EvenTap</span>
              </div>
           <%end%>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
           Hello
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>